@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f6f9fa;
  --foreground: #0f324b;
  --primary: #268d97;
  --muted-foreground: #5c6b73;
  --primary-foreground: oklch(0.985 0 0);

  --card: #f6f9fa;
  --card-foreground: oklch(0.145 0 0);

  --muted: oklch(0.97 0 0);
  --ring: #268d97;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --radius: 0.625rem;

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --font-title: var(--font-sora), ui-sans-serif, system-ui, sans-serif;
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
  --animate-slide-in-left: slide-in-left 0.5s ease-out;

  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

body {
  font-family: var(--font-sans);
}

h1,
h2 {
  font-family: var(--font-title);
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
